.jumbotron {
  background-image: url('/src/components/background.jpg');
  background-color:  rgb(4, 4, 4);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(222, 217, 217);
}
  
  .card-color {
    background-color: #7093da;;
    color: white;
  }
  
  footer {
    background-color: rgb(14, 2, 2);
    color: white;
  }

  .logo {
    max-width: 60px; 
    margin-bottom: 1rem;
  }


  .select-text {
    color: white;
    font-size: 20px;
    font-display: bold;
  }
  