/* LocationDropdown.module.css */
.dropdown {
    width: 50%;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  .container {
    display: center;
    flex-direction: column;
    width: 50%;
    gap: 0.5rem;
  }
  
  .dropdown {
    display: block;
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  
  .table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 14px;
    margin-top: 20px;
  }
  
  .table th, .table td {
    text-align: left;
    padding: 8px;
  }
  
  .table th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
  }
  
  .table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .table tr:hover {
    background-color: #ddd;
  }
  
  