.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

header nav a {
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}

.auth-buttons button {
  background-color: #fff;
  color: #333;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  margin-left: 5px;
}

.auth-buttons button:hover {
  background-color: #eee;
}

.hero {
  background-image: url('image/gym_page.jpg');
  background-size: cover;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.location-selector {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.memberships {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px;
}

.membership-card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  width: 300px;
  margin-bottom: 20px;
}

.section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.table {
  width: 100%;
  max-width: 800px;
  margin: 20px;
}

.table th,
.table td {
  border: 1px solid #333;
  padding: 10px;
  text-align: left;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.membership-card h2 {
  margin-bottom: 10px;
}

.membership-card ul {
  margin-top: 10px;
  margin-bottom: 20px;
}

.membership-card button {
  background-color: #333;
  color: #fff;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
}

.membership-card button:hover {
  background-color: #444;
}

.class-schedules {
  margin: 20px;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
}